# requirements.txt
diffusers>=0.27.0
accelerate>=0.31.0
torchvision
transformers>=4.41.2
torch>=2.0
ftfy
tensorboard
peft==0.11.1
sentencepiece
bitsandbytes; platform_system == "Linux"  # if you want 8bit Adam
Jinja2
tqdm

fastapi>=0.95.0
uvicorn>=0.21.1
pyuploadcare>=6.0.0
python-multipart
requests
pillow>=9.5.0
safetensors>=0.4.1
opencv-python-headless
scipy
datasets
celery>=5.2.7
redis>=4.3.4

# Optionally for logging
wandb

# If you need the huggingface cli for login or pushing to hub
huggingface_hub